.env

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
allure-results/
allure-report/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Type checkers
.mypy_cache/
.pytype/
.ruff_cache/